//responsive
@function rem($px) {
	@return $px / 16px + 0rem;
}


@mixin desktop {
	@media screen and (max-width: 1300px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}


@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}


@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	@include desktop	{
		.container	{
			width: 970px;
		}
	}


	@include laptop	{
		font-size: 15px;
		.container	{
			width: 100%;
			padding: 0 20px;
		}

	}
	@include tablets	{
		font-size: 14px;
		.container	{
			width: 100%;
			padding: 0 20px;
		}

	}
	@include phones	{
		font-size: 12px;
		.container	{
			width: 95%;
			padding: 0 20px;
		}
	}
}

body {
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: 'Rubik', sans-serif;
	position: relative;
}

body {
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

.wrapper { //fixed bottom footer
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.maincontent {
	flex: 1;
    display: flex;
    flex-direction: column;
}

.container  {
    width: 1140px;  
    display: flex;
    flex-direction: row;
}

* {
	box-sizing: border-box;
	outline: none;
}

footer  {
    position: relative;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

